@import "~font-awesome/css/font-awesome.css";
@import "~github-markdown-css/github-markdown.css"

body {
  position: relative;
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
}

h2 {
}

p {
}

li {
}

a {
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.wikiLink {
  cursor: pointer;
}

.wikiLink:hover {
  text-decoration: underline;
}

.wikiLink.available {
  color: #0366d6;
}

.wikiLink.unavailable{
  color: #ba0000;
}

.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
  overflow-y: scroll;
}

@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
	}
}
