.browser {
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.tab {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}
.tabInner {
  margin: 0 2rem;
  padding-top: 1rem;
}
