.inputDialog {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: #9da5b4;
  margin: auto;
  padding: 0.5rem;
  margin-top: 10%;
  width: 50%;
  min-width: 200px;
  max-width: 500px;
  border-radius: .3rem;
}

.label {
  font-weight: normal;
}

.input {
  padding: .5rem;
  color: #9da5b4;
  border: #000;
  border-radius: .3rem;
  background-color: #1b1d23;
  font-weight: normal;
}

.error {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}
