@import "../../variables.css";

.inputDialog {
  color: var(--color);
  font-size: var(--font-size-ultra-small);
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: normal;
  font-size: var(--font-size-small);
  padding-left: .5rem;
}

.input {
  margin: .75rem 0 0 0;
  padding: .75rem;
  font-size: var(--font-size-small);
  color: var(--color);
  border: var(--border-color);
  border-radius: .3rem;
  background-color: var(--background-color-dark);
  font-weight: normal;
}

.error {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}
