@import "../../variables.css";

:root {
  --padding: .75rem .5rem;
}

.metaDataView {
  background-color: var(--background-color);
  height: 100vh;
  width: 12rem;
  min-width: 12rem;
  border-left: var(--border);
}

.fileMenu {
  padding: var(--padding);
  background-color: var(--background-color);
  font-size: var(--font-size);
}

.fileName {
  padding: var(--padding);
  background-color: var(--background-color);
  font-size: var(--font-size);
  color: var(--color-light);
}

.generalMetaData {
  padding: var(--padding);
  background-color: var(--background-color-light);
  font-size: var(--font-size-small);
  border-bottom: var(--border);
  color: var(--color-light);
}

.notePanel {
  border-bottom: var(--border);
  padding: var(--padding);
  background-color: var(--background-color-light);
  font-size: var(--font-size-small);
  color: var(--color-light);
}

.notePanel dt, .notePanel dd, .generalMetaData dt, .generalMetaData dd {
  font-size: var(--font-size-ultra-small);
}

.outline textarea, .note textarea {
  width: 100%;
  height: 7rem;
  font-size: var(--font-size-ultra-small);
  color: var(--color);
  background-color: var(--background-color-ultra-light);
  border: none;
  margin: 0;
}

.note textarea {
  height: 100%;
}

.note {
  width: 100%;
  height: 100%;
}

.note p {
  padding: var(--padding);
  font-size: var(--font-size-small);
  color: var(--color-light);
}
