.background {
  background-color: rgba(33, 37, 43, 0.8);
  z-index: 10000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.floatWindow {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: #9da5b4;
  margin: auto;
  padding: 10px;
  margin-top: 10%;
  width: 50%;
  min-width: 200px;
  max-width: 500px;
  border-radius: .3rem;
}

.inputLabel {
  font-weight: normal;
}

.input {
  padding: .5rem;
  border: #000;
  border-radius: .3rem;
  background-color: #1b1d23;
  font-weight: normal;
}
