@import "../../variables.css";

.treeView {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-small);
  color: var(--color);
  background-color: var(--background-color);
  border-right: 1px solid var(--border-color);
}

.treeViewItems {
  flex: 1 1 auto;
  position: relative;
  list-style-type: none;
  list-style-position: outside;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding-left: 5px;
  height: 100%;
  resize: horizontal;
  user-select: none;
  white-space: nowrap;
  min-width: 200px;
  width: 200px;
}

.treeViewItems li {
  list-style: none;
  line-height: 2em;
  cursor: pointer;
}

.treeViewItems li span{
  padding-left: 10px
}

.repository {
  padding-left: 5px;
}
.repositoryItem {
  padding-left: 10px;
}

.itemTypeAvailable {
  color: var(--color);
}

.itemTypeUnavailable {
  color: var(--color-dark);
  cursor: default;
}

.menu {
  flex: 0 0 auto;
  border-top: solid #000 1px;
  padding: 5px;
  height: 2em;
}

.menuItem {
  cursor: pointer;
}
