.treeView {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #9da5b4;
  background-color: rgb(33, 37, 43);
  border-right: 1px solid #000;
}

.treeViewItems {
  flex: 1 1 auto;
  position: relative;
  list-style-type: none;
  list-style-position: outside;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding-left: 5px;
  height: 100%;
  resize: horizontal;
  user-select: none;
  white-space: nowrap;
  min-width: 200px;
  width: 200px;
}

.treeViewItems li {
  list-style: none;
  line-height: 2em;
  cursor: pointer;
}

.treeViewItems li span{
  padding-left: 10px
}

.repository {
  padding-left: 5px;
}
.repositoryItem {
  padding-left: 10px;
}

.itemTypeAvailable {
  color: #9da5b4;
}

.itemTypeUnavailable {
  color: rgba(157, 165, 180, 0.6);
  cursor: default;
}

.menu {
  flex: 0 0 auto;
  border-top: solid #000 1px;
  padding: 5px;
  height: 2em;
}

.menuItem {
  cursor: pointer;
}
