@import "../../variables.css";

.searchResult {
  margin-top: 0.75rem;
  height: 20rem;
  overflow-y: scroll;
  overflow-x: hidden;
  user-select: none;
  border: var(--border);
}

.item {
  font-size: var(--font-size-small);
  padding: .5rem;
  height: 3rem;
  margin: auto 0;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}

.item:hover {
  background-color: var(--background-color-light);
}

.selected {
  background-color: var(--background-color-light);
}

.filename {
  display: flex;
  flex-direction: row;
}

.filename>p {
  margin-left: 1rem;
}

.internalPath {
  color: var(--color-dark);
  font-size: var(--font-size-ultra-small);
}

.detail {
  font-size: var(--font-size-ultra-small);
}

.highlight {
  color: var(--color-highlight);
}
